.main-button{
    background-color: $color-main;
    border-radius: 5px;
    height: 25px;
    width: 80%;
    margin-bottom: 1%;

    &:hover{
        background-color: $color-main-light;
        //box-shadow: 3px 2px  black;
    }
    &:active{
        box-shadow: 3px 4px  black;
        transform:translateY(2px);
    }
}

.sub-button{
    background-color: white;
    border-radius: 5px;
    height: 25px;
    width: 80%;

    &:hover{
        background-color: #d7d5d5;
        //box-shadow: 3px 2px  black;
    }
    &:active{
        box-shadow: 3px 4px  black;
        transform:translateY(2px);
    }

}