.main-button{
    background-color: $color-main;
    border-radius: 5px;
    height: 25px;
    width: 80%;
    margin-bottom: 1%;
    border: none;
    a{
        color:$carmBlack;
    }

    &:hover{
        background-color: $color-main-light;
        transition: .2s;
        color: black;
    }
    &:active{
        box-shadow: 2px 4px  black;
        transform:translateY(2px);        
    }
}

.newTask-submit_button{
    height: 60px;
    line-height: 60px;
    width: 60%;
    font-size: 24px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    transition:  all .5s;
    &:hover{
        background-color:white;
        color: orange;
        transition:  all .5s;
        border: 1px solid orange;

    }
}
//asks-filter-btnsはtaskの方に記載

.change-button{
    background-color: $color-main;
    border-radius: 5px;
    height: 50px;
    width: 15%;
    margin: auto;
    border: none;
    &:hover{
        background-color: $color-main-light;
        //box-shadow: 3px 2px  black;
    }
    &:active{
        box-shadow: 3px 4px  black;
        transform:translateY(2px);
    }
}


.sub-button{
    background-color: white;
    border-radius: 5px;
    height: 25px;
    width: 80%;
    border: 1px solid #0003;

    &:hover{
        background-color: #d7d5d5;
        //box-shadow: 3px 2px  black;
    }
    &:active{
        box-shadow: 3px 4px  black;
        transform:translateY(2px);
    }

}