.main-button{
    background-color: $color-main;
    border: 1px solid #95BBE19C;
    border-radius: 5px;
    margin: 5px 5px;
    box-shadow: 3px 4px  black;
    height: 40px;

    &:hover{
        background-color: $color-main-light;
        box-shadow: 3px 2px  black;
        transform:translateY(2px);
    }
}