.gauges{
    width: 60px;
    display: block;
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.4);
    background-color: #4db7c824;
    position: relative;
    overflow: hidden;
    border-top-right-radius : 8px;
    //animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
    &-bar{
        animation:2s ease-in 1s forwards alternate expansion;
        display: block;
        opacity: 0;
        background: linear-gradient(to right, #0cebf9,$color-main);
    }



}