.messages-wrapper{
    position: fixed;
    height: 120px;
    width: 100%;
    bottom: 5px;

    }

.messages{
    width: 80%;
    height: 120px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    margin: auto;
    padding: 10px 0 0 10px;
    background-color: black;
    color: #fafafa;
    border: double 8px #fafafa;

    &-toggle{
        position: fixed;
        bottom: 5px;
        right: 5px;
        width: 100px;
        z-index: 2;
        text-align: center;
        height: 40px;
        line-height: 35px;
        background-color: #fafafa;
        color: black;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            background-color: black;
            color: #fafafa;
            transition: all .3s;

        }
    }
    p{
        font-size: 24px;
    }
}

.anim-typewriter{/*アニメーションセッティング*/
    animation: typewriter 3s steps(44) 1s 1 normal both,
   blinkTextCursor 500ms steps(44) infinite normal;
   overflow: hidden;
   white-space: nowrap
  
  }

.messages-space{
    height: 20vh;
}