//マイページ全体で使えるモジュール

.mypage-heading{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #808080a8;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &:hover{
        color: black;
    }
    &:before,
    &:after{
        content: "";
        width: 60px;
        height: 20px;;
        //background-color: #808080a8;
        background-image: url(./img/heading-sword.png);
        background-size: contain;
        transition: all 0.5s;
    }
    &:after{
        transform: scale(-1, 1);
        
    }

    &:hover::before{
        margin-right: 10px;
        transition: all 0.5s;
    }
    &:hover::after{
        margin-left: 10px;
        transition: all 0.5s;
    }


}