.status_marker{
    background-image: linear-gradient(transparent 80%, yellow 0%);
}

.section-parameters{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px;
    background-color: #0000000a;
    @media screen and (max-width: $res-max-width){
        margin-top: 0px;
        padding: 25px 0 0 0;
    }
    h3{
        width: 60%;
        font-weight: 500;
        font-size: 24px;
        line-height: 5rem;
    }

    ul{
        list-style: none;
        text-transform:capitalize;
        font-size: 2rem;
        line-height: 2rem;
        margin-left: 10px;
        @media screen and (max-width: $res-max-width){
            padding-left: 0;
        }

    }
}



.parameters{
    background-image: linear-gradient(to right, $color-main-light, #c7eaec);
    margin-bottom: 20px;
    height: 2rem;
    width: 100px;
    line-height: 2rem;
    text-transform: uppercase;
    font-size: 12px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    @media screen and (max-width: $res-max-width){
        width: 80px;

    }
    

    &::before{
        position: absolute;
        top: -15px;
        left: -15px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-style: oblique;
        color: #000000bd;

    }
    &-wrapper{
        width: 50%;
        margin: auto 15px;
        display: flex;

        ul{
            width: 150px;

        }
    }
    &-hero{
        width: 40%;
        margin: auto 50px;
        img{
            width: 300px;
        }
    }
    &-lv{
        position: relative;
        font-size: 13px;
        background-color: #6fecd5;
        color: #fafafa;
        //background-image: linear-gradient(to right, #f1f47e, #f2e362);
        margin-bottom: 20px;
        height: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        @media screen and (max-width: $res-max-width){
            font-size: 10px;
        }

        &::before{
            content:"lv";
            position: absolute;
            top: -15px;
            left: -15px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            font-style: oblique;
            color: #000000bd;
            @media screen and (max-width: $res-max-width){
                font-size: 10px;
            }
        }

    }

    &-hp{
        position: relative;
        &::before{
            content:"HP";
            @media screen and (max-width: $res-max-width){
                font-size: 10px;
            }

        }
    }
    &-power{
        position: relative;
        &::before{
            content:"power";
            @media screen and (max-width: $res-max-width){
                font-size: 10px;
            }

        }
    }
    &-magic{
        position: relative;
        &::before{
            content:"magic";
            @media screen and (max-width: $res-max-width){
                font-size: 10px;
            }

        }
    }
    &-wisdom{
        position: relative;
        &::before{
            content:"wisdom";
            @media screen and (max-width: $res-max-width){
                font-size: 10px;
            }

        }
    }
    &-xp{
       
        position: relative;
        font-size: 13px;
        background-color: $subColor;
        margin-bottom: 20px;
        height: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        &::before{
            content:"xp";
            position: absolute;
            top: -15px;
            left: -15px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            font-style: oblique;
            color: #000000bd;
            @media screen and (max-width: $res-max-width){
                font-size: 10px;
            }

        }
    }
    &-experience{
        font-size: 16px;
    }
}

