//sectionと名前のつくところ

.section-heading{
    font-size: 80px;
    margin-bottom: 40px;
    text-align: center;
    color: #808080a8;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    font-family: 'Acme', sans-serif;
    @media screen and (max-width: $res-max-width){
        font-size: 40px;
    }

    &:hover{
        color: black;
    }
    &:before,
    &:after{
        content: "";
        width: 60px;
        height: 20px;;
        //background-color: #808080a8;
        background-image: url(./img/heading-sword.png);
        background-size: contain;
        transition: all 0.5s;
        @media screen and (max-width: $res-max-width){
            width: 27px;
            height: 10px;
        }

    }
    &:after{
        transform: scale(-1, 1);
        
    }

    &:hover::before{
        margin-right: 10px;
        transition: all 0.5s;
    }
    &:hover::after{
        margin-left: 10px;
        transition: all 0.5s;
    }


}

.section-status{
    width: 80%;
    margin: 40px auto auto auto;
    text-align: center;
}

.section-items{
    width: 90%;
    margin: 40px auto auto auto;
}

.section-tasks{
    width: 80%;
    margin: 40px auto 150px auto;
}
