
//タスクページ

.task_marker{
    background-image: linear-gradient(transparent 80%, #ffa5009e 0%);
}


.tasks-wrapper{
    max-width:100vh;
    margin-bottom: 120px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .each-task{
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        height: 120px;
        width: 100%;
        margin: 5px auto;
        transition: all .5s;
        border-radius: 5px;
        box-shadow: 3px 2px 0.1rem #0000006b;
            @media screen and (max-width: $res-max-width){
                height: 100px;
            }

        &__state{
            margin: auto;
            font-size: 12px;
            text-align: center;
        }
        &__title_outer{
            margin: auto 10px auto 10px;
            width: 75%;
            height: 80%;
            display: flex;
            align-items: center;
            
        }
        &__title_inner{
            font-size: 14px;
        }
        &__body{
            margin: auto 10px;
            width: 50%;
            transform: translateY(70px);
            transition: all .5s;

        }
        &__category{
            margin: auto 10px;
            text-align: center;
            .star-wrapper{
                position: absolute;
                top: 25px;
                left: 55px;
            }
            .star-wrapper2{
                position: absolute;
                bottom: 20px;
                left: 8px;
            }
        
        }
        &__time{
            font-size: 10px;
            letter-spacing: 1px;
            position: absolute;
            bottom: 0;
            right: 10px;
        }
        &__difficult{
            position: absolute;
            bottom: 5px;
            left: 5px;
            font-size: 12px;
        }
        &__detail{
            position: absolute;
            display: flex;
            width: 80%;
            height: 100%;
            left: 0;
            background-image: linear-gradient(to right bottom, #fffef9, #c3f4e9);
            box-shadow: 1px 1px 0.2px darkkhaki;
            p{
                margin: auto 10px;
                font-size: 14px;
            }
        }
        &-Done-icon{
            width: 50px;
            height: 50px;
            border-radius: 30px;
            line-height: 40px;
            background: #a8bfb782;
            cursor: pointer;
            box-shadow: 1px 1px 0.5px 0px #0000004f;
            transition: 0.4s;
            margin-bottom: 6px;
            &:hover{
                background-color: #96fff5;
                transition: 0.4s;

            }
        }
        &-Doned-icon{
            width: 50px;
            height: 50px;
            border-radius: 30px;
            line-height: 40px;
            background: #ffff01ad;
            cursor: pointer;
            box-shadow: 1px 1px 0.5px 0px #0000004f;
            transition: 0.4s;
            &:hover{
                background-color: #5d5f6a17;
                transition: 0.4s;

            }
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
}



.is-active{
    transform: translateY(0px) !important;
    transition: all .5s;
}


.categoryDone{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: -4px;
        left: -65%;
        width: 100%;
        height: 100%;
        border: 2px solid #78c6ec;
        border-radius: 20px;
        padding: 15px 15px;
    }
}

.donetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #ff0000a3;
    border: 2px solid #ff0000a3;
    text-align: center;
    border-radius: 50%;
    font-style: italic;
}



.newTask{
    min-height: 475px;
    margin: 20px auto 20px auto;
    width: 100%;
    transition: all .5s;
    border-radius: 6px;
    border: 2px solid #ffb300;
}

.task{
    &-start{
        font-weight: bold;
        font-size: 16px;
        color: black;
        margin: 0 0.5rem;
        &:hover{
            color: #ffe033;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }
    //ーーーーーーーーーーフォーム系
    &-form{
        height: 100%;
        h2{
            background-color: #ffb300;
            height: 60px;
            color: #fafafa;
            line-height: 60px;
            font-size: 24px;
            letter-spacing: 2px;

        }
        span{
            font-size: 12px;
        }
        input, textarea {
            border-radius: 6px;
            background-color: #cfecdf1a;;
            &:focus{
                background-color: #fff5ef;
            }
        }
      

        input[type=text] {
            height: 40px;
            width: 60%;
            margin: 20px 10px 0 10px;
            padding: 5px;
          }
        input[type=textarea]{
            height: 80px;
            width: 60%;
            margin: auto 10px;
            padding: 5px;
        }
        .radiobutton:checked + label{
            background-color: #ffb300;
            color: #fafafa;
        }
        input[type=radio] {
            display: none;
        }

        .radiobuttons-wrapper{
            display: flex;
            justify-content: center;
            width: 70%;
            margin: 20px auto;
            input[type=radio] {
                display: none;
            }
            img{
                width: 30px;
            }
        }
        .radiobutton{
            cursor: pointer;
            width: 100%;
            margin: auto 5px;
            border: 2px solid #ffb300;
        }
        label{
            cursor: pointer;
            margin: auto 5px;
            border: 2px solid #ffb300; 
        }
        .difficult-wrapper{
            margin: 20px auto;
        }

        &__wrapper{
        background-color: #fafafa;
        height: 100%;
        text-align: center;
        }
        &__error{
            font-size: 12px;
            color: red;
        }
    }
}


.choicedtask{
    background-color:  #f9dd48;
    color: black;
}

.tasks-filter-btns{//filterボタンを包んでいるもの
    height: 60px;
    width: 80%;
    margin: auto;
    text-align: center;
    @media screen and (max-width: $res-max-width){
        height: 50px;
        width: 100%;
        font-size: 12px;
    }


}
.tasks-filter-btn{
    height: 50px;
    margin: auto;
    border-radius: 5%;
    border: none;
    //background-color: #fafafa;
    //border: 1px solid #f9dd48;
    //color: $carmBlack;
    &:hover{
        background-color: #f9dd48;
        border: #fafafa;
        color: black;
        //box-shadow: 3px 2px  black;
    }
    &:active{
        box-shadow: 0px 0.5px rgb(90, 87, 87);
        transform:translateY(1px);
    }
}

.taskupParameters{//能力アップ時の動き
    background-color: #39aee8;
    color:#fafafa;
    position: fixed;
    left: 10px;
    top: 100px;
    z-index: 5;
    width: 20%;
    height: 70px;
    line-height: 70px;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    translate: all .4s;
    text-align: center;
    @media screen and (max-width: $res-max-width){
        width: 200px;
        height: 50px;
        line-height: 50px;
    }
}



//----------------------------------レベルアップ

.loading span {
    display: inline-block;
    margin: 0 -.075em;
    animation: loading .7s infinite alternate;
  }
  .loading span:nth-child(2) {
    animation-delay: .1s;
  }
  .loading span:nth-child(3) {
    animation-delay: .2s;
  }
  .loading span:nth-child(4) {
    animation-delay: .3s;
  }
  .loading span:nth-child(5) {
    animation-delay: .4s;
  }
  .loading span:nth-child(6) {
    animation-delay: .5s;
  }
  .loading span:nth-child(7) {
    animation-delay: .6s;
  }
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

//--------------------------レベルアップ演出


.bg-task-fadein{
    position: fixed;
    width: 80%;
    height: 75vh;
    z-index: 100;
    margin: auto;

    .fadein-wrapper{
        position: absolute;
        top: 44%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 300px;
        height: 300px;
        text-align: center;
        border-radius: 50%;
    }
    .image-wrapper{
       
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
        background-color: #96fff580;
        animation-name: top-Titleanimation;
        animation-duration: 1s;
        animation-delay:0.5s;
        animation-timing-function:ease;
        animation-fill-mode: forwards;
        //transform: scale(5.0);アニメーションでこうする

    }
    img{
        position: absolute;
        top: 40%;
        left: 52%;
        //top:5%;
        //right:2%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 50%;
    }
}



//みんなのタスクのページ

.alltasks-page-wrap{
    padding:0 24px;
}
.alltasks-wrap{
    padding-top: 20px;
}
.everybody-tasks-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .everybody-task{
        width: calc(33% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px;
        box-shadow: 2px 2px 0.2px #8080805c;
        position: relative;
        &:nth-child(3n){
            margin-right: 0;
        }
        

    }
    .everybody-task__category{
        position: absolute;
        right: -10px;
        top: -10px;
        width: 40px;
        background: #96fff5;
        border-radius: 20px;
        img{
            width: 100%;
        }
    }

    .everybody-task__title_inner{
        width: 80%;
    }

    
}

