.tasks-wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li{
        line-height: 40px;
        height: 40px;
        transition: all 1s;
        margin: 5px auto;
        display: flex;
        width: 100%;
    }
}

.task{
    &-start{
        font-weight: bold;
        font-size: 16px;
        color: black;
        margin: 0 0.5rem;
    
        &:hover{
            color: #ffe033;
            transform: translateY(-5px);
            cursor: pointer;
        }
    }

    &-form{  
        line-height: 40px;
        input[type=text] {
            height: 30px;
          }
        input[type=radio] {
            display: none;
        }
        label{
            width: 80px;
        }
        .label-wrapper{
            display: flex;
            justify-content: center;
            width: 90%;
            margin: auto;
        }


        &__wrapper{
        background-color: #EFEFEF;
        position: fixed;
        width: 50vw;
        height: 50vh;
        z-index: 10;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    }



}

.done{
  //background-color: gray;
  text-decoration: line-through;
  
}



