
$color-main:#99dfff;
$color-main-light:#96fff5;
$color-main-dark:#0058ff;
$color-base:#EFEFEF;
$subColor: #FAD727;

$carmBlack:#464545;
$space:50px;

.regist-wrapper{//登録、ログイン画面での情報
    margin-top: 150px;
}

.add-card-color{
    background-color:$color-main-light !important;
}

.home-image{
    width: 200px;
    display: block;
    text-align: center;
    margin: 50px auto;
}

.note{
    font-size: 14px;
    text-align: center;
    margin: 25px;
    letter-spacing: 1px;
    color: #8e8a8a;
}


.radial-bg{
    background: radial-gradient(#ebfffd, #FFF);
}

.margin-top{
    margin-top: 150px;
}

body{
    
    font-family: "Helvetica Neue",
    'Noto Sans JP', sans-serif,
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo"
    
}

//------------見出し系

.heading-primary{
    &--main{
        display: inline-block;
        font-size: 7rem;
        margin: .9rem auto;
        font-family: 'Acme', sans-serif;
    }
    &--sub{
        display: block;
        font-size: 1.5rem;
        text-align: center;
    }
}

.hovermoveLeft{
    background-image: linear-gradient(120deg,transparent 0%,transparent 50%,#FAD727 50%);
    background-size: 0%;
    transition: all .4s;
    background-repeat: no-repeat;
    &:hover{
        background-size: 100%;
        background-image: #FAD727;
    }
}

.underLine{
    border-bottom: 2px solid #96fff5;
    width: 50%;
    height: 100%;
    padding-bottom: 5px;
      
}

.eachPageImg{
    width: 100px;
    margin-right: 20px;
}

//------------フォントawasome系
.fontawasome-margin{
    margin: auto 8px;
}

.billboard-arrow1{
    font-size: 80px;
    position: absolute;
    color: #0000ff4a;
    right: 40%;
    top: 20%;
}

.billboard-arrow2{
    font-size: 160px;
    position: absolute;
    color: #96fff573;
    right: 5%;
    bottom: 20%;
}

.billboard-arrow3{
    font-size: 240px;
    position: absolute;
    color: #FAD72782;
    right: 61%;
    bottom: 48%;
}

.fontawasome-arrow{
    animation:animation-up 1s infinite;
    color: $color-main-dark;
}

.fontawasome-arror-right{
    font-size: 20px;
    animation:animation-right 1s infinite;
}

.fontawasome-difficult{
    color:black;
}

.fontawasome-list{
    margin: auto 5px;
    color: orange;
    font-size: 16px;
    line-height: 16px;
}

.fontawasome-status{
    margin: auto 5px;
    color: skyblue;
    font-size: 16px;
    line-height: 16px;
}

.fontawasome-item{
    margin: auto 5px;
    color: rgba(118, 238, 108, 0.9);
    font-size: 16px;
    line-height: 16px;
}

.star-icon-kirameki{
    color: #ffb300de;
    animation: anim-star-kyupeen 1s infinite linear;
}


.upmovearrow{
    animation:up-move 1s;
    animation-delay: .3s;
}

.arrowopacity{
    opacity: 0;
}



// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
//$yellow: #ffed4a;
$yellow:#FAD727;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

