
$color-main:#99dfff;
$color-main-light:#96fff5;
$color-main-dark:#0058ff;
$color-base:#EFEFEF;

.radial-bg{
    background: radial-gradient(#bcfbf4, #EFEFEF);
}

//baseColor: #DDE3F2
$subColor: #FAD727;
$space:60px;

.fontawasome-margin{
    margin: auto 8px;
}

.fontawasome-arrow{
    animation:animation-up 1s infinite;
    color: $color-main-dark;
}

.fontawasome-arror-right{
    font-size: 20px;
    animation:animation-right 1s infinite;
}

.upmovearrow{
    animation:up-move 1s;
    animation-delay: .3s;
}

.arrowopacity{
    opacity: 0;
}


.heading-primary{
    &--main{
        display: block;
        font-size: 8rem;
        margin: .9rem auto;
    }
    &--sub{
        display: block;
        font-size: 1.5rem;
        text-align: center;

    }
}


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
//$yellow: #ffed4a;
$yellow:#FAD727;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



/*
//color
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;



$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;

//font
$default-font-size:1.8rem;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
*/