@keyframes blink_effect {
  0% {
    //opacity: 0;
    //background-color: #1a1818c9;
    color: #fafafa;
  }
  50% {
    //opacity: 0.5;
    //background-color: rgb(247, 247, 132);
  }
  100% {
    color: $subColor;
    transform: scale(1.2);

    //opacity: 1;
    //background-color: yellow;
    //transform: scale(1.1);
  }
}

@keyframes top-Titleanimation{//トップページのアクセス時の動き
  0%{
    transform: scale(1.0);
    //opacity: 0;
  }

  100%{
    transform: scale(7.0);
    //opacity: 1;
  }
}


@keyframes expansion{//パラメータ一覧の画面でゲージを動かしている
  0%{
    width:0%;
  }
  100%{
    width:100%;
    opacity: 1;
  }
}

@keyframes up-move{//パラメータアップ時の動き
  0%{
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
      opacity: 0.1;
  }
  50% {
      //transform:rotate(-45deg) translate(-10px, 10px);
      transform:translateY(-10px);
      opacity: 1;
  }
  100% {
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
      opacity: 0.3;
  }
}




@keyframes animation-up{
  0%{
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
  20% {
      //transform:rotate(-45deg) translate(-10px, 10px);
      transform:translateY(-10px);
  }
  40% {
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
}


//右に移動
@keyframes animation-right{
  0%{
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
  20% {
      //transform:rotate(-45deg) translate(-10px, 10px);
      transform:translateX(10px);
  }
  40% {
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
}

//taskcomponentで利用。task実行時の動き。
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

//taskcomponentで利用。task追加時の動き。
@keyframes fade-in{
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }
  50%{
      opacity: 0.3;
  }
  100% {
    transform: translateY(0px);
  }

}
