@keyframes expansion{//パラメータ一覧の画面でゲージを動かしている
  0%{
    width:0%;
  }
  100%{
    width:100%;
    opacity: 1;
  }
}

@keyframes up-move{//パラメータアップ時の動き
  0%{
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
      opacity: 0.1;
  }
  50% {
      //transform:rotate(-45deg) translate(-10px, 10px);
      transform:translateY(-10px);
      opacity: 1;
  }
  100% {
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
      opacity: 0.3;
  }
}

/*
@keyframes startoRight{//煌めき
  0%{
    background-image: linear-gradient(120deg,#FAD727,white 50%);
  }
  20%{
    background-image: linear-gradient(120deg,#FAD727,white 60%);
  }
  40%{
    background-image: linear-gradient(120deg,#FAD727,white 70%);
  }
  60%{
    background-image: linear-gradient(120deg,#FAD727,white 80%);
  }
  80%{
    background-image: linear-gradient(120deg,#FAD727,white 90%);
  }
  100%{
    background-image: linear-gradient(120deg,#FAD727,white 100%);
  }
}
*/


.startoRight{
    animation-name: startoRight;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;//アニメーションの最後の動きで止める
    animation-timing-function: ease-in-out;
}





@keyframes animation-up{
  0%{
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
  20% {
      //transform:rotate(-45deg) translate(-10px, 10px);
      transform:translateY(-10px);
  }
  40% {
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
}


@keyframes animation-right{
  0%{
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
  20% {
      //transform:rotate(-45deg) translate(-10px, 10px);
      transform:translateX(10px);
  }
  40% {
      //transform:rotate(-45deg) translate(0, 0);
      transform:translate(0, 0);
  }
}