.billboard{
    position: relative;
    width: 100%;
    height: 80vh;
    //background-image:url(../img/fire.jpg);
    //background-size: cover;
    &-title{
        position: absolute;
        bottom: 0%;
        left: 5%;
        //transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 50px;

        &:before{
            content: "";
            position: absolute;
            left: 50px;
            bottom: 100px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            //border: solid 5px $color-main-light;
            background-color: $color-main-light;
        }

        h1{
            background-color: #96fff554;
            border-radius: 20px;
            padding: 10px;
        }
    }
    &-img1{
        position: absolute;
        right: 9%;
        top: 16%;
        width: 500px;

    }
    &-text1{
        position: absolute;
        right: 34%;
        top: 30%;
    }
    &-text2{
        position: absolute;
        right: 15%;
        top: 87%;
    }
}