.footer{
    height: 40px;
    background-color: #0b0a0ac9;
    color: #fafafa;
    line-height: 40px;
    text-align: right;
    margin: auto;
    p{
        margin-bottom: 0px;
        font-size: 11px;
        padding-right: 15px;
        @media screen and (max-width: $res-max-width){
            line-height: 40px;
        }


    }
    
}