.header{
    height: $space;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $color-main-light;
    display: flex;
    justify-content: space-between;
    z-index: 10;
        @media screen and (max-width: $res-max-width){
            height: 40px;
        }


    &__logo-area{
        width: 20%;
        font-size: 20px;
        margin: auto 0 auto 15px;
        display: inline-block;
        font-family: 'Acme', sans-serif;
        a{
            color: black;
            text-decoration: none;
            letter-spacing: 2px;
            &:hover{
                color: black;
                text-decoration: none;
            }
        }
    }
    &__manu-area{
        height: 100%;
        margin-right: 5%;
    }
    &__nav{
        height: 100%;
        line-height: $space;
        display: flex;
        justify-content: right;
            @media screen and (max-width: $res-max-width){
                line-height: 40px;
            }

        li{
            font-size: 12px;
            margin: 0 .5rem;
            transition: all .2s;
            @media screen and (max-width: $res-max-width){
                font-size: 11px;
              }
            
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    transform: translateY(-1px);
                    color:#00000080;
                    text-shadow: 1px #f9e160;
                    cursor: pointer;
                }

            }

        }
    }
}


.header-pc{
    @media screen and (max-width: $res-max-width){
        display: none;
    }
}

//spメニュー
.header-sp{
    line-height: 40px;
    &:hover{
        cursor: pointer;

    }
    .menu-trigger{
        &:hover{
            cursor: pointer;
        }
    }
}

.sp-menu-area{
    display: none;
    @media screen and (max-width: $res-max-width){
        display: block;
        width: 80%;
        height: 100vh;
        background-color: green;
        position: fixed;
        z-index: 20;
    }
    li a{
        color:black;
        text-decoration: none;
        &:hover{
            color: black;
            text-decoration: none;
        }
    }
    li{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .sp-menu-area-inner{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .logo-wrap{
        padding: 30px 0 30px 20px;
        color: black;
        text-decoration: none;
        &:hover{
            color: black;
            text-decoration: none;
        }

    }
    .close-btn-area{
        position: absolute;
        bottom: 10%;
        right: 5%;
        .far{
            font-size: 30px;
        }

    }
}