.header{
    height: $space;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $color-main-light;
    display: flex;
    justify-content: space-between;
    z-index: 10;
        @media screen and (max-width: $res-max-width){
            height: 40px;
        }


    &__logo-area{
        width: 20%;
        font-size: 20px;
        margin: auto 0 auto 15px;
        display: inline-block;
        font-family: 'Acme', sans-serif;
        a{
            color: black;
            text-decoration: none;
            letter-spacing: 2px;
            &:hover{
                color: black;
                text-decoration: none;
            }
        }
    }
    &__manu-area{
        height: 100%;
        margin-right: 5%;
    }
    &__nav{
        height: 100%;
        line-height: $space;
        display: flex;
        justify-content: right;
            @media screen and (max-width: $res-max-width){
                line-height: 40px;
            }

        li{
            font-size: 12px;
            margin: 0 .5rem;
            transition: all .2s;
            @media screen and (max-width: $res-max-width){
                font-size: 11px;
              }
            
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    transform: translateY(-1px);
                    color:#00000080;
                    text-shadow: 1px #f9e160;
                    cursor: pointer;
                }

            }

        }
    }
}
