.myinfo{
    display: flex;
    flex-wrap: wrap;
}

.blink{
    animation: blink_effect 3s infinite;

}

//ルーターリンクで選んでいるリンク
.router-link-active{
    background-color: #fefefe;
    color: #1a1818c9 !important;
    transition: .6s;

}

.sidebar{
    width: 17%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #1a1818c9;
    h4{
        color: #fefefe;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        margin: 15px auto;
    }
    p{
        color: #fefefe;
        margin-top: 10px;
        font-size: 12px;
        letter-spacing: 3px;
        text-align: center;

    }
    a{
        color: #fefefe;
        display: block;
        text-align: center;
        margin: 5px auto 5px auto;
        &:hover{
            text-decoration: none;
            color: #fefefe;
        }
    }
    span{
        text-align: center;
        display: block;
        color: #fafafa;
        border-top: 4px dotted;
        margin: 10px;
        padding-top: 20px;
        font-size: 12px;
    }
    .fonticon_level{
        color:$color-main-light;
        margin-right: 2px;
        font-size: 16px;

    }

    .fonticon_hp{
        color:#e85353;
        margin-right: 2px;
        font-size: 16px;
    }

    .fonticon_money{
        color:yellow;
        margin-right: 2px;
        font-size: 16px;
    }
    
}

.sideIsClicked{
    background: #fafafa;
    color: black;
}