.myinfo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.blink{
    animation: blink_effect 3s infinite;

}

//ルーターリンクで選んでいるリンク
.router-link-active{
    background-color: #fefefe;
    color: #1a1818c9 !important;
    transition: .6s;

}

.sidebar-toggle{
    
    position: absolute;
    width: 17%;
    height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fafafa;
    left: 0;
    background-color: #3e3a3a;
    z-index: 2;
    border-bottom-right-radius: 60px;
    @media screen and (max-width: $res-max-width){
        font-size: 14px;
        padding: 2px;
    }
    &:hover{
        cursor: pointer;
        background-color: #afafaf;
    }
}

.sp-Info-menu{//スマホのみ表示する。
    display: none;
    @media screen and (max-width: $res-max-width){
        display: block;
        background-color: #ccf0f761;
        width: 100%;
        padding-left: 10px;
        border-bottom: 2px solid #73e1d2;
    }
}

.sp-menu-wrap{
    width: 100%;
    height: 28px;
    line-height: 28px;
    display: flex;
    justify-content: left;
    margin: 5px;
    p{
        margin: 0 20px;
        line-height: 28px;
        @media screen and (max-width: $res-max-width){
            margin: 0 5px;
            &:first-child{
                margin-left: 3px;
            }
        }

    }
}


.sidebar{
    width: 17%;
    height: 100vh;
    padding-top: 10px;
    position: sticky;
    top: 0;
    background-color: #3e3a3a;
    @media screen and (max-width: $res-max-width){
        display: none;
    }   
    h4{
        color: #fefefe;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        margin: 15px auto;
    }
    p{
        color: #fefefe;
        margin-top: 10px;
        font-size: 12px;
        letter-spacing: 3px;
        text-align: center;

    }
    a{
        font-size: 12px;
        color: #fefefe;
        display: block;
        text-align: center;
        margin: 5px auto 5px auto;
        &:hover{
            text-decoration: none;
            color: #fefefe;
        }
    }
    span{
        text-align: center;
        display: block;
        color: #fafafa;
        border-top: 4px dotted;
        margin: 10px;
        padding-top: 20px;
        font-size: 12px;
    }
}

.sideIsClicked{
    background: #fafafa;
    color: black;
}


.fonticon_level{
    color:$color-main-light;
    margin-right: 2px;
    font-size: 16px;
}
.fonticon_hp{
    color:#e85353;
    margin-right: 2px;
    font-size: 16px;
}
.fonticon_money{
    color:yellow;
    margin-right: 2px;
    font-size: 16px;
}
